p{
  text-align: justify;
}

.our-team-heads-flex div p{
  text-align: center;
}

.rights p{
  text-align: center;
}

@media(min-width:481px) and (max-width:768px){
  .nav-bar{
    margin-left:10% ;
    margin-right:10% ;
   }
  .logo{
    width: 200px;
    height: 90px;
  }
  
  .about-us-image1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    height: 300px;
    }
  
    .about-us-image1:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 300px;
    background: rgba(36, 11, 54, 0.6);}
  
  
    .text-block {
      position: absolute;
      color: white;
      justify-content: center;
      align-items: center;
    }
    .text-block span a{
      text-decoration: none;
      color: white;
      margin-right: 50px;
    }
  
    .text-block span a:hover{
      color: orange;
    }
  
    .about-us-image1 img{
      height: 300px;
      width: 100%;
    }
    .about-us{
      margin-top: 70px;
      margin-left: 10%;
      margin-right: 10%;
    }
  
    .about-us-main-head{
      color: orange;
      text-align: center;
    }
    .about-us-heading{
      text-align: center;
      margin-bottom: 30px;
    }
  
  
  .about-us-image2{
      margin-bottom: 50px;
  }
  .about-us-image2 img{
      height: 300px;
      width: 100%;
    }
  
  .about-us-history-flex{
      margin-top: 20px;
      margin-bottom: 60px;
  }
  
  .specialist-flex{
      margin-bottom: 60px;
      margin-left: 10%;
      margin-right: 10%;   
  }
  .container {
    width: 100%;
    background-color: orange;
  }
  
  .skills {
    padding-bottom: 10px;
    color: white;
  }
  
  .html1 {
    width: 97%; background-color: #1e0626;
  }
  .html2 {
    width: 90%; background-color: #1e0626;
  }
  
  .html3 {
    width: 92%; background-color: #1e0626;
  }
  .html4 {
    width: 96%; background-color: #1e0626;
  }
  .scale-bar{
     
      margin: auto;
  }
  .scale-bar div{
    margin-bottom: 20px;
  }
  .scale-bar div div{
    margin: 0px;
  }
  
  .our-features {
    position: relative;
    width: 100%;
    height: 34em;
    display: flex;
    justify-content: center;
    align-items: center;}
  
  .image3{
    width: 100%;
    height: 100%;}
  
  .our-features:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 34em;
    background: rgba(41, 12, 50, 0.6);
  }
  .text {
    position: absolute;
    padding-top: 50px;
  }
  .text2{
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: center;
  }
  
  .text2 div{
    margin: 30px;
  }
  .our-process-flex{
      display: flex;
      flex-direction: row;
      margin-top: 60px;
      margin-bottom: 20px;
      margin-left: 5%;
      margin-right: 5%;
  }
  .how-we-works{
     width: 50%;
     margin-right: 10px;
  }
  .th-flex{
      display: flex;
      flex-direction: row;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .loan-review-approval{
      width: 50%;
      margin-left: 10px;
    }
    .loan-flex,.review-flex,.approval-flex{
      display: flex;
      flex-direction: row;
    }
  .loan-logo,.review-logo,.approval-logo{
    margin-right: 40px;
  }
    .our-team{
      background-color: rgb(238, 228, 214);
      padding-top: 80px;
      padding-bottom: 80px;
    }
    .our-team-head-orange{
      color: orange;
      text-align: center;
    }
    .meet-expert-head{
      text-align: center;
      margin-bottom: 30px;
    }
  
    .our-team-heads-flex{
      display: flex;
      flex-direction: row;
      text-align: center;
      margin: auto;
      margin-bottom: 20px;
    }
    .instagram-twitter-linkedin-flex{
      display: flex;
      flex-direction: row;
    }
    .our-team-heads-flex div{
      margin: auto;
    }
    .our-team-heads-flex img{
      width: 110px;
      height: 140px;
      margin-bottom: 10px;
  }
  
  .view-all-team-button{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    
  }
  .contact-details{
      background-color: rgb(26, 26, 44);
      color: white;
      padding-top: 50px;
      padding-left: 70px;
      padding-right:70px ;
  }
     
    .location-flex,.contact-flex,.timings-flex{
      display: flex;
      flex-direction: row;
    }
  
    .time i,.contact i,.location i{
      margin: 0px;
      padding: 0px;
    }
    .location-contact-timings-flex{
      float: right;
      margin-bottom: 200px;
    }

    .imp-flex{
      display: flex;
      flex-direction: row;
      margin: auto;
      margin-top: 120px;
      margin-bottom: 40px;
     
    }
  
    .imp-flex div{
      width: 25%;
      margin-right: 50px;
    }
  
    .quickLinks a,.usefulLinks a{
      text-decoration: none;
      color: white;
    }
    .quickLinks a:hover, .usefulLinks a:hover{
      color: aqua;
    }
  
    .facebook-twitter-linkedin-flex{
      display: flex;
      flex-direction: row;
    }
    .facebook-twitter-linkedin-flex div{
      margin-right: 35px;
    }
    .rights{
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }}

@media (min-width:320px) and (max-width: 480px) {
  .nav-bar{
    margin-left:5% ;
    margin-right:5% ;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .logo{
    width:180px;
    height: 80px;
  }
  
  .about-us-image1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    }
  
    .about-us-image1:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 360px;
    background: rgba(36, 11, 54, 0.6);}
  
  
    .text-block {
      position: absolute;
      color: white;
      justify-content: center;
      align-items: center;
    }
    .text-block span a{
      text-decoration: none;
      color: white;
      margin-right: 50px;
    }
  
    .text-block span a:hover{
      color: orange;
    }
  
    .about-us-image1 img{
      height: 360px;
      width: 100%;
    }
    .about-us{
      margin-top: 80px;
      margin-left: 5%;
      margin-right: 5%;
    }
  
    .about-us-main-head{
      color: orange;
      text-align: center;
    }
    .about-us-heading{
      text-align: center;
      margin-bottom: 30px;
    }

  .about-us-image2{
      margin-bottom: 30px;
  }
  .about-us-image2 img{
      height: 250px;
      width: 100%;
    }
  
  .about-us-history-flex{
      margin-top: 20px;
      margin-bottom: 60px;
  }
  .begin{
      margin-right: 10px;
  }
  
  .mission{
      margin-right: 10px;
  }
  
  .specialist-flex{
      margin-bottom: 60px;
      margin-left: 5%;
      margin-right: 5%;   
  }
  
  .container {
    width: 100%;
    background-color: orange;
  }
  
  .skills {
    padding-bottom: 10px;
    color: white;
  }
  
  .html1 {
    width: 97%; background-color: #1e0626;
  }
  .html2 {
    width: 90%; background-color: #1e0626;
  }
  
  .html3 {
    width: 92%; background-color: #1e0626;
  }
  .html4 {
    width: 96%; background-color: #1e0626;
  }
  .scale-bar div{
    margin-bottom: 20px;
  }
  .scale-bar div div{
    margin: 0px;
  }
  
  .our-features {
    position: relative;
    width: 100%;
    height: 41em;
    display: flex;
    justify-content: center;
    align-items: center;}
  
  .image3{
    width: 100%;
    height: 100%;}
  
  .our-features:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 41em;
    background: rgba(41, 12, 50, 0.6);
  }
  .text {
    position: absolute;
  }
  .text2{
    text-align: center;
    margin: 10px;
  }
  
  
  .our-process-flex{
      margin: 5%;
      margin-top: 60px;
      margin-bottom: 20px;
  }
  .how-we-works{
     margin-right: 10px;
  }
  .th-flex{
      display: flex;
      flex-direction: row;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .loan-review-approval{
      margin-left: 10px;
      margin-top: 30px;
    }

    .loan-flex,.review-flex,.approval-flex{
      display: flex;
      flex-direction: row;
    }

  .loan-logo,.review-logo,.approval-logo{
    margin-right: 40px;
  }
    .our-team{
      background-color: rgb(238, 228, 214);
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .our-team-head-orange{
      color: orange;
      text-align: center;
    }
    .meet-expert-head,.our-team-heads-flex{
      text-align: center;
    }
    .instagram-twitter-linkedin-flex{
      display: flex;
      flex-direction: row;
    }

    .our-team-heads-flex div{
      text-align: center;
      margin: auto;
      margin-bottom: 30px;
    }

    .our-team-heads-flex div div{
      text-align: center;
    }
    .our-team-heads-flex img{
      width: 200px;
      height: 220px;
      margin-bottom: 10px;
  }
  .view-all-team-button{
    text-align: center;
    margin: auto;
    margin-top: 10px;
  }
  .contact-details{
      background-color: rgb(26, 26, 44);
      color: white;
      padding-top: 50px;
      padding-left: 70px;
      padding-right:70px ;
  }
     
    .location-flex,.contact-flex,.timings-flex{
      display: flex;
      flex-direction: row;
    }
  
    .time i,.contact i,.location i{
      margin: 0px;
      padding: 0px;
    }
    .imp-flex{
      margin-bottom: 40px;
      margin-left: 5%;
      margin-right: 5%;
      
    }
    .imp-flex div{
      margin-top: 30px;
    }
    .quickLinks a,.usefulLinks a {
      text-decoration: none;
      color: white;
    }
    .quickLinks a:hover,.usefulLinks a:hover{
      color: aqua;
    }
  
    .facebook-twitter-linkedin-flex{
      display: flex;
      flex-direction: row;
    }
    .facebook-twitter-linkedin-flex div{
      margin-right: 35px;
    }
    .rights{
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
}

@media(min-width:769px){

.nav-bar{
  margin-left:17% ;
  margin-right:17% ;
}

.logo{
  width: 150px;
  height: 70px;
}
.about-us-image1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 17%;
  margin-right: 17%;
  }

  .about-us-image1:before{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 360px;
  background: rgba(36, 11, 54, 0.6);}


  .text-block {
    position: absolute;
    color: white;
    justify-content: center;
    align-items: center;
  }
  .text-block span a{
    text-decoration: none;
    color: white;
    margin-right: 50px;
  }

  .text-block span a:hover{
    color: orange;
  }

  .about-us-image1 img{
    height: 360px;
    width: 100%;
  }
  .about-us{
    margin-top: 50px;
    margin-left: 17%;
    margin-right: 17%;
  }

  .about-us-main-head{
    color: orange;
    text-align: center;
  }
  .about-us-heading{
    text-align: center;
    margin-bottom: 30px;
  }

  .about-us-matter{
    display: flex;
    flex-direction: row;
  }
  .about-us-matter div{
    margin-right: 20px;
    width: 50%;
  }

.about-us-image2{
    margin-bottom: 50px;
}
.about-us-image2 img{
    height: 360px;
    width: 100%;
  }

.about-us-history-flex{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 60px;
}
.begin{
    width: 50%;
    margin-right: 20px;
}

.mission{
    width: 50%;
}

.specialist-flex{
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    margin-left: 17%;
    margin-right: 17%;   
}
.satisfaction{
    width: 50%;
    margin-right: 10px;
}
.container {
  width: 100%;
  background-color: orange;
}

.skills {
  padding-bottom: 10px;
  color: white;
}

.html1 {
  width: 97%; background-color: #1e0626;
}
.html2 {
  width: 90%; background-color: #1e0626;
}

.html3 {
  width: 92%; background-color: #1e0626;
}
.html4 {
  width: 96%; background-color: #1e0626;
}
.scale-bar{
    width: 50%;
    margin-left: 10px;
}
.scale-bar div{
  margin-bottom: 20px;
}
.scale-bar div div{
  margin: 0px;
}

.our-features {
  position: relative;
  width: 100%;
  height: 32em;
  display: flex;
  justify-content: center;
  align-items: center;}

.image3{
  width: 100%;
  height: 100%;}

.our-features:before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 32em;
  background: rgba(41, 12, 50, 0.6);
}
.text {
  position: absolute;
  padding-top: 50px;
}
.text2{
  display: flex;
  flex-direction: row;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}

.text2 div{
  margin: 30px;
}
.our-process-flex{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 17%;
    margin-right: 17%;
}
.how-we-works{
   width: 50%;
   margin-right: 10px;
}
.th-flex{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .loan-review-approval{
    width: 50%;
    margin-left: 10px;
  }
  .loan-flex,.review-flex,.approval-flex{
    display: flex;
    flex-direction: row;
  }
.loan-logo,.review-logo,.approval-logo{
  margin-right: 40px;
}
  .our-team{
    background-color: rgb(238, 228, 214);
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .our-team-head-orange{
    color: orange;
    text-align: center;
  }
  .meet-expert-head{
    text-align: center;
    margin-bottom: 30px;
  }

  .our-team-heads-flex{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
  }

  .instagram-twitter-linkedin-flex{
    display: flex;
    flex-direction: row;
  }
  .our-team-heads-flex div{
    margin: auto;
  }
  .our-team-heads-flex img{
    width: 160px;
    height: 180px;
    margin-bottom: 10px;
}


.view-all-team-button{
  text-align: center;
  margin: auto;
  margin-top: 30px;
}
.contact-details{
    background-color: rgb(26, 26, 44);
    color: white;
    padding-top: 50px;
    padding-left: 70px;
    padding-right:70px ;
}
   
  .location-flex{
    display: flex;
    flex-direction: row;
  }

  .contact-flex,.timings-flex{
    display: flex;
    flex-direction: row;
    margin-left:50px ;
  }

  .time i,.contact i,.location i{
    margin: 0px;
    padding: 0px;
  }
  .location-contact-timings-flex{
    display: flex;
    flex-direction: row;
    margin-left: 300px;
  }
  .imp-flex{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    margin-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%; 
  }

  .imp-flex div{
    width: 25%;
    margin-right: 20px;
  }

  .quickLinks a,.usefulLinks a{
    text-decoration: none;
    color: white;
  }
  .quickLinks a:hover,.usefulLinks a:hover{
    color: aqua;
  }


  .facebook-twitter-linkedin-flex{
    display: flex;
    flex-direction: row;
  }
  .facebook-twitter-linkedin-flex div{
    margin-right: 35px;
  }
  .rights{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}